@{
}
<div class="contenedor CSM">
    <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closePopup()">&times;</span>
            <p id="popup-message">Datos de ingreso incorrectos</p>
        </div>
    </div>
    <script src="~/js/Popup.js"></script>
    <form id="estadisticaForm" method="post" asp-controller="Home" asp-action="Estadisticas">
        <h1 class="Title">ESTADÍSTICAS</h1>
        <p><b>Ciclo</b></p>
        <select id="ciclo" name="ciclo" placeholder="CICLO" required>
            <option selected>Seleccione</option>
            <option value="I">I CICLO</option>
        </select>
        <p><b>Año</b></p>
        <select id="ano" name="ano" placeholder="AÑO" required>
            <option selected>Seleccione</option>
            <option value="24">2024</option>
        </select>
        <button type="button" id="generateButton" class="btn btn-light">GENERAR ESTADÍSTICA</button>
    </form>
    <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="MainAcademico" role="button">REGRESAR</a>
</div>

<script>
    document.getElementById("generateButton").addEventListener("click", function () {
        const ciclo = document.getElementById("ciclo").value;
        const ano = document.getElementById("ano").value;

        if (ciclo !== "Seleccione" && ano !== "Seleccione") {
            const url = `@Url.Action("Estadisticas", "Home")?ciclo=${ciclo}&ano=${ano}`;

            showPopup('Creando estadísticas. Redirigiendo...', url);
        } else {
            showPopup("Por favor, seleccione ambos ciclo y año.");
        }
    });
</script>
