@{
    ViewData["Title"] = "Home Page";
}

<div class="contenedor CSM">
    <img class="logoUNA" src="/images/LogoU.png">
    <h2>BIENVENIDO</h2>
    <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="Login" role="button">INGRESAR</a>

</div>
