@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="main">
    <h1 class="Title">CURSO</h1>

    <h5>Nombre del curso</h5>
    <p class="infobox"> Fundamentos de la informatica</p>
    <h5>NRC</h5>
    <p class="infobox">EIF200 </p>
    <h5>Creditos</h5>
    <p class="infobox"> 3</p>
    <h5>Descripcion</h5>
    <p class="infobox">Introccion a la logica, desarrollo de lenguaje tecnico y manejo de aplicaciones</p>
    <h5>Requisitos</h5>
    <p class="infobox">Ingreso a la carrera</p>

    <div class="float-buttons">
        <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="Courses" role="button">REGRESAR</a>
    </div>


</div>