@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Prueba";
}

<div class="contenedor CSM">
	<form id="loginForm">
		
		<h4>Usuario</h4>
		<input type="text" name="username" id="username" class="form-control" placeholder="Usuario" aria-label="Usuario" aria-describedby="addon-wrapping" required>
		<h4>Contraseña</h4>
		<input type="password" name="password" id="password" placeholder="Contraseña" class="form-control" aria-describedby="passwordHelpBlock" required>
		<button type="submit" class="btn btn-light">INICIAR SESIÓN</button>

	</form>
	<p style="margin-top:3%">Datos de ingreso</p>
	<p>admin@una.cr / admin123.</p>
	<p>est@una.cr / est123.</p>


	<div id="popup" class="popup">
		<div class="popup-content">
			<span class="close" onclick="closePopup()">&times;</span>
			<p id="popup-message">Datos de ingreso incorrectos</p>
		</div>
	</div>
	<script src="~/js/Popup.js"></script>

</div>

<script src="~/js/Database.js" type="module"></script>
<script src="~/js/Login.js" type="module"></script>
    