
<div class="contenedor CSM">
   
    <img class="logoUNA" src="/images/LogoU.png">
	<h3>JOSE MORA LOPEZ</h3>
	<p>ESTUDIANTE</p>
	<p>3 5283 0045</p>
    <div class="op">
        <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="PruebaDT" role="button">PREMATRICULAR</a>
        <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="Courses" role="button">LISTA DE CURSOS</a>
        <div class="float-LogOut">
            <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="Login" role="button">CERRAR SESION</a>
        </div>
    </div>
    

</div>
