



   @model UNAprematriculaWeb.Models.Usuario






<div class="main ">
    
    <div class="info contenedor">
        <img class="logo" src="/images/Profile.png">
		<h1>@Model.Nombre @Model.Apellido</h1>
		<h3>ESTUDIANTE</h3>
		<h4>@Model.UserId</h4>
    </div>
    <div class="op main">
        <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="Login" role="button">PREMATRICULAR</a>
        <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="Login" role="button">LISTA DE CURSOS</a>
        <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="Login" role="button">CERRAR SESION</a>
    </div>
    

</div>
