@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="main ">

    <div class="info contenedor">
        <img class="logo" src="/images/Profile.png">
        <h1>MARILYN PERAZA VALVERDE</h1>
        <h3>DIRECTORA ACADEMICA</h3>
        <h4>4 8356 0271</h4>
    </div>
    <div class="op contenedor">
        <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="Login" role="button">REGISTRO DE PREMATRICULA</a>
        <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="Login" role="button">PLAN DE ESTUDIOS</a>
        <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="CreateEstadistica" role="button">ESTADISTICAS</a>
        <div class="float-LogOut">
			<a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="Login" role="button">CERRAR SESION</a>
        </div>
        
    </div>
