@model UNAprematriculaWeb.Models.Usuario

<div class="contenedor CSM">
    <img class="logoUNA" src="/images/LogoU.png">
    <h3>MARILYN PERAZA</h3>
    <p>ACADEMICO</p>
    <p>1 1815 0321</p>
    <div class="op">
		<a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="PlanEstudio" role="button">PLAN DE ESTUDIOS</a>
        <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="CreateMatricula" role="button">PREMATRICULA</a>
		<a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="CreateEstadistica" role="button">ESTADÍSTICAS</a>
        <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="Login" role="button">CERRAR SESIÓN</a>
    </div>
</div>
