@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="contenedor CSM listaCursos">
    <h1 class="Title">CURSOS</h1>

    <div class="accordion accordion-flush" id="accordionCourses" style="width:100%"></div>
    <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="MainAcademico" role="button">REGRESAR</a>

</div>

<script src="~/js/PlanEstudio.js" type="module"></script>