

@{
    ViewData["Title"] = "Registro";
}

<div class="main">

    <form method="post" asp-action="Register" class="contenedor">

        <h1 class="Title">REGISTRO</h1>

        <h4>Nombre</h4>
        <input type="text" class="form-control" id="inputNombre" name="Nombre" placeholder="Nombre" required>
        <h4>Usuario</h4>
        <input type="text" class="form-control" id="inputUsuario" name="Usuario" placeholder="Usuario" required>

  
        <h4>Correo</h4>
        <input type="email" class="form-control" id="inputCorreo" name="Correo" placeholder="Correo Institucional" required>
    
       
        <h4>Contraseña</h4>
        <input type="password" class="form-control" id="inputPassword" name="Password" placeholder="Contraseña" required>
 
        <h4>Confirmar Contraseña</h4>
        <input type="password" class="form-control" id="inputConfirmPassword" name="ConfirmPassword" placeholder="Confirmar Contraseña" required>
        
        <div class="float-buttons">
			<a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="Login" role="button">REGISTRARME</a>
			<a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="Login" role="button">REGRESAR</a>
        </div>
       
    </form>

</div>





