

@{
    ViewData["Title"] = "Registro";
}

<div class="contenedor CSM">

    <form id="registerForm">

        <h1 class="Title">REGISTRO</h1>

		<p><b>Nombre</b></p>
        <input type="text" class="form-control" id="inputNombre" name="Nombre" placeholder="Nombre" required>
        <p><b>Usuario</b></p>
        <input type="text" class="form-control" id="inputUsuario" name="Usuario" placeholder="Usuario" required>
        <p><b>Correo Institucional</b></p>
        <input type="text" class="form-control" id="inputCorreo" name="Correo" placeholder="Correo Institucional" required>
        <p><b>Contraseña</b></p>
        <input type="password" class="form-control" id="inputPassword" name="Password" placeholder="Contraseña" required>
        <p><b>Confirmar Contraseña</b></p>
        <input type="password" class="form-control" id="inputConfirmPassword" name="ConfirmPassword" placeholder="Confirmar Contraseña" required>
        <button type="submit" class="btn btn-light">REGISTRARME</button>
    </form>
	<a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="Login" role="button">REGRESAR</a>

</div>





