
body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #000000;
    padding: 0;
    background-image: url(../images/background.jpg);
    align-items: center;
}

html {
    height: 100%;
}

.main {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    width: 80%;
    text-align: center !important;
}
.Title {
    border-bottom: 2px solid white;
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
}

footer {
    margin-bottom: 3%;
    border-top: 7px solid white !important;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: white;
    text-align: center;
    font-size: calc(0.6vw + 0.6vh); /* Utilizando una combinación de vw y vh */
}

header {
    margin-top: 3%;
    border-bottom: 5px solid white;
    width: 100%;
    position: fixed;
    top: 0;
    color: white;
    text-align: center;
    font-size: calc(0.6vw + 0.6vh); /* Utilizando una combinación de vw y vh */
}

a {
    margin-bottom: 3%;
    width: 20%;
    background: white;
    text-decoration: none;
    color: black;
    border-radius: 1rem !important;
}

input[type="text"], input[type="password"] {
    width: 50% !important;
    margin: 0.5% 4% !important;
    border-radius: 1rem !important;
}

.info {
    border-radius: 1rem !important;
    width: auto!important;
    color: white;
    margin:0% 10%;
}
.logo{
    height:120px;

}
.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    width: 80%;
    text-align: center !important;
}
.login {
    margin-top: 5%;
    padding: 3% 0;
    width: 60% !important;
    border-radius: 1rem !important;
}

h1.info {
    color: white;
}

.login h4 {
    color: white !important;
}
.btn {
    background-color: transparent;
    color: white !important;
    margin-top:1%;
}
.login input {
    border-color: #EA0119;
}
a:hover {
    color: #EA0119!important;
}
form {
    width: 100% !important;
    align-items: center !important;
    text-align: center !important;
    align-content: center !important;
    justify-content: center !important;
}
.float-buttons {
    position: fixed;
    top: 10%;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    height:30%;
}
.float-buttons .btn{
    width:100%;
}
.carousel-inner{
    padding: 0 10%;
}

a.curso{
    color:white;
    background-color:transparent;
    text-decoration: underline;
    cursor:pointer;
}

a.curso:hover{
    background-color:white;
    border-radius:0!important;
    padding:2%;
}

.logoUNA{
    margin-top:8%;
    height:200px;
}
.infobox {
    color: black;
    background-color: white;
    border-radius: 1rem !important;
    padding:1%;
    width:40%;
}